.App {
  text-align: center;
    background-color: lightgrey;
}
.App-body{
    padding:5%;
}
/*========header========================*/
.header-container{
  width: 100%;
  position: fixed;
}
.header{
    height: 50px;
    background-color: white;
    display: flex;
    position:relative;
}
.header a{
    text-decoration: none;
    color: black;
}
.header-item{
    flex-direction: row;
    width:100%;
    padding:1% 0;
    margin: auto;
}
.shopping-icon {
    align-items: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
/*========body========================*/

/*========landingpage========================*/
#landing-page{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: teal;
    padding: 100px;
}
.summary{
  padding: 5% 10% 5% 10%;
    background-color: darkgrey;
    color: white;
    font-style: italic;
}
/*========gallery========================*/
#gallery-page{
  padding-top:240px;
  padding-bottom:240px;
}
.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
}
.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    padding: 10px 0 0 0;
}
.menu-item {
    background-color: darkgrey;
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 7.5px 15px;
  overflow: hidden;
}
.content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 0.7;
    position: absolute;
}
.title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #4a4a4a;
}
.subtitle {
  font-weight: lighter;
  font-size: 16px;
}
/*========story========================*/
#story-page{
  color: white;
  background-color: black;
  border: 1px solid black;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.backstory{
    margin: 100px 5%;
}
/*========checkoutpage========================*/
.checkout-page {
  width: 90%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  border: 1px solid black;
}
.checkout-header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgrey;
}
.header-block {
  text-transform: capitalize;
  width: 23%;
}
/*========footer========================*/
.footer{
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background-image{
    width:100%;
    height: 75%;
    background-color: tan;
}
.footer-image-content{
    margin: 50px 25%;
}
.contacts{
    width:100%;
    display: flex;
}
.contact{
    flex-direction: row;
    width:100%;
    padding: 25px;
}
